body {
    margin: 0;
    font-family: "Courier New", monospace;
    background-color: #0b1110;
    color: #e1f3ea;
}

/* HEADER */
header {
    background: #121a18;
    padding: 20px 30px;
    border-bottom: 3px solid #3ea87a;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    letter-spacing: 2px;
}

/* HAMBURGER */
.hamburger {
    width: 30px;
    cursor: pointer;
}

.hamburger div {
    height: 4px;
    background-color: #6ff0b0;
    margin: 6px 0;
}

/* MOBILE MENU */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 260px;
    height: 100%;
    background-color: #111a15;
    padding-top: 80px;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.mobile-menu a {
    padding: 15px 25px;
    text-decoration: none;
    color: #6ff0b0;
    font-weight: bold;
    border-bottom: 1px solid #1e2a23;
}

.mobile-menu a:hover {
    background-color: #1c2b22;
    color: white;
}

.mobile-menu.active {
    right: 0;
}

/* CONTENT */
section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 25px;
}

h2 {
    border-left: 5px solid #3ea87a;
    padding-left: 15px;
    color: #5fe3a4;
}

.block {
    background-color: #151f1c;
    padding: 25px;
    margin: 25px 0;
    border-left: 4px solid #4fbf88;
}

.warning {
    color: #ff5c5c;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 30px;
    background: #0f1513;
    margin-top: 60px;
    font-size: 0.9em;
    color: #7aa694;
}